<p id="notice"><%= notice %></p>

<h1>To Do List</h1>
<br>

<div class="card" style="width: 18rem;">
  <div class="card-header">
    To Do 
  </div>

  <ul class="list-group list-group-flush">

    <% @todos.each do |todo| %>
    <% if todo.user == current_user %>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <%= todo.task %>
      <span float right>
        <%= link_to 'X', todo, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
      </span>
      
    </input>
  </li> 

  <% end -%>

  <% end %>

</ul>

</div>

<br>


<%= link_to 'New Todo', new_todo_path %>

